html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
}
body{
    background-color: #e6eff6;  
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: "Arial";
}
h2{
    font-size: 16px;
}
.wrapper{
    width: 640px;
    border-radius: 10px;
    height: 480px;
    /* border: 1px solid red; */
    background-color: #ffffff;
    margin-top: 90px;
}
.header{
    height: 220px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.section-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cost{
    width: 320px;
    height: 257.5px;
    border-bottom-left-radius: 10px;
    background-color: #2bb3b1;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.why{
    width: 320px;
    height: 260px;
    height: 257.5px;
    border-bottom-right-radius: 10px;
    background-color: #4abebd;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.header-title{
    font-size: 21px;
    color: #51b6b2;
    margin-bottom: 30px;   
}
.header-second-title{
    font-size: 16px;
    color: #cce452;
}
.header-text{
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 30px;
    color: #b8bdc3;
}
.cost-title{
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.cost-value{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.cost-type{
    text-align: center;
    font-size: 14px;
    color: #86dbe2;
    position: relative;
    top: -6px;
    padding-left: 10px;
}
.cost-definition{
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #fff;
    margin-bottom: 40px;
}
.signup-btn{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #bfdf32;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.8s ease;
}
.signup-btn:hover{
    background-color: white;
    color: #bfdf32;
    font-weight: 700;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 13px;
    font-size: 18px;
}
.why-title{
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
}
ul{
    list-style: none;
    margin-left: -45px;
}
li{
    font-size: 13px;
    color: #abf5f6;
    line-height: 20px;
}